{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-light">{% block title %} Home {% endblock %}</h1>
    <div>
        <div class="card text-white bg-danger mb-3 mt-4" style="max-width: 18rem;" onclick="window.location='/users'">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <p class="card-text">
                    See a list of users' info
                </p>
            </div>
        </div>
        <div class="card text-white bg-success mb-3 mt-4" style="max-width: 18rem;" onclick="window.location='/logs'">
            <div class="card-body">
                <h5 class="card-title">Logs</h5>
                <p class="card-text">
                    Explore logs in system
                </p>
            </div>
        </div>
        <div class="card bg-warning mb-3 mt-4" style="max-width: 18rem;" onclick="window.location='/system'">
            <div class="card-body">
                <h5 class="card-title">System Info</h5>
                <p class="card-text">
                    View System Configurations
                </p>
            </div>
        </div>
    </div>
{% endblock %}