{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-light">{% block title %} System Info {% endblock %}</h1>
    <div>
        <h2 class="display-6 text-light">General Info</h2>
        <table class="table table-striped table-dark">
            {% for config in configs['general'] %}
            <tr class="text-warning">
                <td>{{ config }}</td>
                <td class="text-right">{{ configs['general'][config] }}</td>
            </tr>
            {% endfor %}
        </table>
        <h2 class="display-6 text-light">Authentication</h2>
        <table class="table table-striped table-dark">
            {% for config in configs['authentication'] %}
            <tr class="text-warning">
                <td>{{ config }}</td>
                {% if config not in ['admin_users'] %}
                <td class="text-right">{{ configs['authentication'][config] }}</td>

                {% else %}
                <td>
                    {% for admin in configs['authentication']['admin_users'] %}
                    <p class="text-right">{{ admin }}</p>
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>


        <h2 class="display-6 text-light">Logging</h2>
        <table class="table table-striped table-dark">
            {% for config in configs['logging'] %}
            <tr class="text-warning">
                <td>{{ config }}</td>
                <td class="text-right">{{ configs['logging'][config] }}</td>
            </tr>
            {% endfor %}
        </table>


        <h2 class="display-6 text-light">Face Recognition</h2>
        <table class="table table-striped table-dark">
            {% for config in configs['face_recognition'] %}
            <tr class="text-warning">
                <td>{{ config }}</td>
                <td class="text-right">{{ configs['face_recognition'][config] }}</td>
            </tr>
            {% endfor %}
        </table>


    </div>
{% endblock %}