{% extends 'base.html' %}

{% block content %}
    <h1 class="display-3 text-light">{% block title %} Users {% endblock %}</h1>
    <div>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th>id</th>
                <th>role</th>
                <th>name</th>
                <th>images</th>
            </tr>
            </thead>

            <tbody>
            {% for user in users %}
            <tr>
                <td><code>{{ user }}</code></td>
                <td>{{ users[user]['role'] }}</td>
                <td>{{ users[user]['name'] }}</td>
                <td>
                    {% for image in users[user]['images'] %}
                    <img src="{{ image }}" alt="">
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}